# Dependencies
node_modules/

# Environment variables
.env

# Electron build output
dist/
out/
build/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

node_modules/
firebase-config.js
firebaseConfig.js